.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 90%;
  outline: #F31448;
}

.calc-wrapper {
  width: 400px;
  height: 300px;
}

.row {
  display: flex;
  width: 80%;
}
